#container {
  margin-top:150px;
}

.intro1 {
  padding-top: 300px;
}

#start {
  margin-top: 50px;
}

p {
  margin: 10px 50px;
  width: auto;
  text-align: center;
}

.center-layout {
  margin: 10px 50px;
  width: auto;
  text-align: center;
}

#quiz {
  display: none;
}

#hScoreForm {
  display: none;
  margin: auto;
  width: 75%;
  padding-top: 100px;
}

.choice {
  font-weight: bold;
}

.btn-group-vertical {
  align-items: center;
}

.invisIntro {
  display: none;
}

#timer {
  display: none;
  margin: auto;
  border: #17a2b8;
  border-style: double;
  width: 28px;
  padding: 2px 2px;
}

#scoreCard {
  display: none;
}

#highScoreElement {
  text-align: left;
}