.intro1 {
  padding-top: 300px;
}

#start {
  margin-top: 50px;
}

p {
  margin: 10px 50px;
  width: auto;
  text-align: center;
}

.center-layout {
  margin: 10px 50px;
  width: auto;
  text-align: center;
}

#quiz {
  display: none;
}

#hScoreForm {
  display: none;
}

.choice {
  /*display: none;*/
}

.btn-group-vertical {
  align-items: center;
}

.invisIntro {
  display: none;
}
